/* stylelint-disable length-zero-no-unit */
body {
  background-color: #f7f7f9;
  margin: 0px;
}

.nav_container {
  display: flex;
  padding: 20px;
  background-color: #fff;
  justify-content: space-between;
}

.dropdown {
  padding-top: 20px;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_container {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 650px;
  background-image: url('images/header-background-mobile.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
}

.header {
  width: 300px;
  margin-top: 20%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #172b4d;
  padding-left: 24px;
  padding-right: 24px;
}

.desc {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  width: 85%;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  vertical-align: top;
  color: #344563;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 24px;
  padding-left: 24px;
}

.connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  display: flex;
  align-items: flex-start;
  margin-left: 24px;
}

.socials_box {
  display: flex;
  padding-left: 24px;
  margin-left: -3px;
  padding-right: 50%;
  justify-content: space-between;
  list-style: none;
}

.socials {
  width: 10%;
  align-items: center;
  justify-content: center;
  padding: 2px;
}
