body {
  background-color: #f8f8f8;
  margin: 0;
}

.navContainer {
  display: flex;
  padding: 20px;
  background-color: #fff;
  justify-content: space-between;
}

.dropdown {
  padding-top: 20px;
  padding-left: 20px;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  width: auto;
  height: 720px;
  background-image: url('images/header-shapes mobile@2x.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
}

.headerOne {
  width: 300px;
  margin-top: 20%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #172b4d;
  padding-left: 20px;
}

.desc {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  width: 85%;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  vertical-align: top;
  color: #344563;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 24px;
  padding-left: 24px;
}

.connect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  display: flex;
  align-items: flex-start;
  margin-left: 24px;
}

.socialsBox {
  display: flex;
  padding-left: 24px;
  margin-left: -3px;
  padding-right: 50%;
  justify-content: space-between;
  list-style: none;
}

.socials {
  width: 10%;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.projects {
  display: grid;
  row-gap: 88px;
  justify-content: center;
  padding: 60px 24px;
  list-style-type: none;
}

.project {
  padding: 16px 16px 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  background-color: #fff;
}

li {
  display: list-item;
}

.description {
  padding: 16px;
}

.title {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  margin-top: -10px;
  margin-left: -12px;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: left;
}

.subTitle {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-left: -8px;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
}

.info {
  display: flex;
  align-items: center;
  column-gap: 32px;
  margin-top: -30px;
}

.infoContainer {
  display: flex;
  margin-left: -60px;
  list-style-type: none;
}

ul {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
  list-style: none;
}

.role {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-right: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #7a869a;
}

.role::before {
  content: url(/images/circle.svg);
  width: 14px;
  padding-right: 5px;
}

.year {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-right: 10px;
  font-size: 12px;
  line-height: 16px;
  color: #7a869a;
}

.year::before {
  content: url(/images/circle.svg);
  width: 14px;
  padding-right: 5px;
}

.projectDescription {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  margin-left: -10px;
  line-height: 24px;
  color: #344563;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.tags {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  float: left;
  flex-wrap: wrap;
  gap: 8px;
  margin: 16px 0 29px -10px;
}

.tagsFlex {
  display: flex;
  margin-left: -40px;
}

.html {
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  margin-right: 10px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.css {
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  margin-right: 10px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.javascript {
  padding: 4px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 12px;
  margin-right: 10px;
  line-height: 16px;
  color: #6070ff;
  background: #ebebff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.viewProject {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  width: 124px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #6070ff;
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  background-color: #fff;
  margin-left: -10px;
  transition: all 0.5s ease-in-out;
  float: none;
}

button {
  appearance: auto;
  text-rendering: auto;
  color: white;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: center;
  cursor: default;
  box-sizing: border-box;
  clear: left;
  float: left;
  display: block;
  position: relative;
}

button:hover {
  background-color: #6070ff;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.24), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

button:active {
  background-color: #2230d2;
  color: white;
}

.project img {
  width: 100%;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top-right-radius: 80px;
  background-color: #fff;
}

.resumeButton {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  width: 220px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #6070ff;
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  margin-left: 16px;
}

.resumeButton:hover {
  background-color: #6070ff;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.24), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.resumeButton:active {
  background-color: #2230d2;
  color: white;
}

.skills {
  margin-top: 6px;
  padding-top: 24px;
  background-color: #fff;
  width: 65%;
}

.skillsDropdown {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding: 23px 40px 23px 0;
}

.skillsTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
}

.skillsDesc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 9px 30px 0 20px;
  margin: 12px;
  border-radius: 8px;
}

.skillsDescList {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-left: -37px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  background-color: #f7f7f9;
}

.skillsListTitle {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  margin-left: 10px;
  line-height: 20px;
  color: #253858;
}

.dropChild {
  border-bottom: 1px solid #dfe1e6;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px 23px 0;
  width: 300px;
}

.about {
  width: 300px;
  margin-top: 20%;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #172b4d;
  padding-left: 10px;
  padding-right: 10px;
}

.aboutDescription {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  width: 85%;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
  vertical-align: top;
  color: #344563;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 24px;
  padding-left: 24px;
}

.aboutConnect {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  display: flex;
  align-items: flex-start;
  margin-left: 24px;
  width: 65%;
}

.aboutSocials {
  display: flex;
  padding-left: 24px;
  margin-left: -3px;
  padding-right: 50%;
  justify-content: space-between;
  list-style: none;
}

.mySkills {
  width: 85%;
}

.aboutMyself {
  width: auto;
}

.contact {
  display: flex;
  margin-left: -8px;
  flex-direction: column;
  align-items: center;
  background-color: #6070ff;
  background-image: url('images/shapes.png');
  background-repeat: no-repeat;
  background-size: 61.5%;
  background-position: 100% 33%;
  border-top-left-radius: 5rem;
  padding-bottom: 20px;
  width: auto;
}

.contactHeader {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 120px;
}

.contactDescription {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  color: #ebebff;
  text-align: center;
  margin: 0.8rem 0 2.8rem;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.contactContainer {
  width: 80%;
}

input[type='text'],
select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 8px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

input[type='email'],
select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  margin-bottom: 8px;
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

label {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
}

textarea {
  width: 100%;
  height: 150px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}

.submitButton {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  width: 160px;
  height: 48px;
  border-radius: 8px;
  padding: 12px;
  border: 1px solid #6070ff;
  color: #396df2;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  margin-top: 16px;
}

.submitButton:hover {
  background-color: #6070ff;
  color: white;
  transform: scale(1.1);
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.24), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.submitButton:active {
  background-color: #2230d2;
  color: white;
}

.contactField {
  padding: 0;
}

.navDesk {
  display: none;
}

@media screen and (min-width: 992px) {
  .dropdown {
    display: none;
  }

  .mainContainer {
    /* width: auto; */
    background-image: url(/images/desktop/desktopBg.svg);
    background-size: 90%;
    background-position: 0% 15%;
    align-items: flex-start;
    justify-content: center;
    padding-left: 140px;
    padding-bottom: 150px;
    border-bottom-left-radius: 165px;
  }

  .headerOne {
    width: 600px;
    line-height: 60px;
    justify-content: start;
  }

  .desc {
    width: 85%;
    line-height: 28px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
  }

  .socials {
    width: 30%;
    margin-right: 10px;
  }

  .socialsM {
    width: 30%;
    margin-right: 10px;
    padding-top: 6px;
  }

  .project {
    padding: 20px 16px 24px 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-radius: 16px;
    border: 1px solid #dfe1e6;
    background-color: #fff;
    width: auto;
    height: auto;
    justify-content: space-around;
  }

  .description {
    padding: 48px;
  }

  .viewProject {
    width: auto;
    height: auto;
  }

  .project img {
    height: 100%;
    width: 75%;
  }

  .subTitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
  }

  .info {
    margin-left: -10px;
  }

  .projects {
    width: auto !important;
    row-gap: 0;
  }

  .aboutContainer {
    flex-direction: row;
    border-top-right-radius: 80px;
    background-color: #fff;
  }

  .aboutMyself {
    width: 40%;
    margin-top: -110px;
    padding: 48px;
    margin-left: 100px;
  }

  .about {
    margin-left: 18px;
    width: 50%;
    height: 16%;
  }

  .mySkills {
    width: 60%;
  }

  .skillsTitle {
    width: 80%;
  }

  .skillsDescList {
    width: 100px;
    height: 100px;
    margin-left: 0;
    margin-right: 10px;
    padding: 20px;
    flex-direction: column;
  }

  .skillsDesc {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: 8px;
    margin-left: -77px;
    padding: 9px 30px 0 80px;
  }

  .contact {
    background-image: url('images/desktop/contact-desktop.svg');
    background-position: center center;
    background-size: auto;
  }

  .contactContainer {
    width: 25%;
  }

  .navDesk {
    display: flex;
    width: 50%;
    margin-left: 50%;
    align-items: center;
    justify-content: center;
  }

  .menuDesk {
    display: inline;
  }

  .menuDesk a {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
    list-style: none;
    margin-right: 16px;
    text-decoration: none;
  }

  .formSubmit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
